{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">BOOKING</div>
        </div>
    </div>
{% endblock %}

