{% extends 'base.html.twig' %}

{% block body %}
    {% set images =
        [
            {
                id: "1",
                asset: asset('images/BCA73D16-620F-4DF0-9C21-C2B2CA731132.JPG')
            },
            {
                id: "2",
                asset: asset('images/2AC0FC34-6840-47DE-873A-493E6B310014.JPG')
            },
            {
                id: "3",
                asset: asset('images/1D6DF729-D237-46C3-A76C-8447EC8527AA.JPG')
            },
            {
                id: "4",
                asset: asset('images/classes.jpg')
            },
            {
                id: "6",
                asset: asset('images/328781A0-309E-4DB4-A0E8-E4D4118D927E.JPG')
            },
            {
                id: "5",
                asset: asset('images/2FFD3EEC-DD82-4A53-8AD6-290F2DDC2105.JPG')
            },
            {
                id: "7",
                asset: asset('images/8D312B9E-62F8-41E5-90C2-D607C84D0216.JPG')
            },
            {
                id: "8",
                asset: asset('images/chocolate.jpg')
            }
        ] %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div {{ stimulus_controller('image-grid',{
                    padding: 20
                }) }}
                        data-image-grid-target-height-value="400"
                >
                    {% for image in images %}
                        <img data-width="350" class="img-fluid" id="image-{{ image.id }}" src="{{ image.asset }}" alt="{{ image.id }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}