{% extends 'base.html.twig' %}

{% block body %}
    {% set images =
        [
            {
                id: "1",
                asset: asset('images/landing/food_image_one.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "2",
                asset: asset('images/landing/food_image_two.jpeg'),
                height: "350",
                width: "350"
            },
            {
                id: "3",
                asset: asset('images/landing/food_image_three.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "4",
                asset: asset('images/landing/food_image_four.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "6",
                asset: asset('images/landing/food_image_five.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "5",
                asset: asset('images/landing/food_image_six.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "7",
                asset: asset('images/landing/food_image_seven.jpg'),
                height: "350",
                width: "350"
            },
            {
                id: "8",
                asset: asset('images/landing/food_image_eight.jpg'),
                height: "350",
                width: "350"
            }
        ] %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div {{ stimulus_controller('image-grid',{
                    padding: 20,
                }) }}
                        data-image-grid-target-height-value="350"
                >
                    {% for image in images %}
                        <img width="420" data-width="420" id="image-{{ image.id }}" src="{{ image.asset }}" alt="{{ image.id }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}