<!DOCTYPE html>
<html lang="{{ app.locale }}" {{ stimulus_controller('color-theme') }} data-bs-theme="light" >
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Forghams Cuisine{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{{ include('partial/_navbar.html.twig') }}
{% block body %}{% endblock %}
</body>
</html>
